<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.windows10.findmyphone">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="Find My Phone"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.windows10.findmyphone.SettingActivity">
        </activity>
        <activity android:name=".AppLockerManageActivity"/>
        <activity android:name=".AppLockerSettingActivity"/>
        <activity android:name=".KeyManageActivity"/>
        <activity android:name=".Lab"/>
        <activity android:name=".KeySettingActivity"/>

        <service
            android:name="com.example.windows10.findmyphone.CheckAppStatusInBackground" android:enabled="true"></service>
        <service android:name=".GpsTracerInBackground" android:enabled="true"/>
        <receiver android:name="com.example.windows10.findmyphone.SMS_Receiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>